/* portraid mobile */ 

body{
    text-align: center;
    background-color:#333;
    color: #fff;
    font-family: 'Archivo Black', sans-serif;
}
.App {
    width: 100%;
}

.hidden {
    width: 1px;
    height: 1px;
    visibility: hidden;
}

.visible {
    widows: auto;
    height: auto;
    visibility: visible;
}

/* TOOLBAR NAV*/
.toolbar-nav {
    widows: 100%;
    height: 50px;
    background-color: #484848;
    box-shadow: 0 1px 3px #222;
}

.title {
    font-size: 20px;
    text-shadow: 1px 1px 1px #000;
    float:left;
    margin: 15px 0 0 5px;
}

#toolbar-nav--burger {
    float: right;
    width: 42px;
    margin-top: 5px;
    margin-right: 20px;
}

.toolbar-nav a:hover {
    opacity: 0.5;
}

.toolbar-menu--button {
    float:left;
    width: 100%;
    padding: 19px 0;
    background-color: #484848;
    border-top: 1px solid #222;
    border-left: 1px solid #454545;
}

/* FUNCTION NAV */
.functions-nav {
    width: 100%;
    height: 50px;
    background-color: #393939;
    box-shadow: 0 0 3px #111;
}

.functions-menu--button {
    width: 33%;
    padding: 17px 0;
    float: left;
}
.functions-menu--button:hover {
    background-color: #424242;
}

/* WORKSPACE */
.workspace-box{
    width: 100%;
    min-height: 380px;
    max-height: 800px;
}

#mycanvas {
    width: 90%;
    max-width: 1366px;
    max-height: 768px;
    margin: 10px 10px;
    background-color: #ebeae4;
    box-shadow: 0 0 3px #222;
}

/* Landscape mobile */

@media screen and (min-width: 320px) {
    body{
        background-color: royalblue;
    }
}